html {
  background-image: url("https://vignette.wikia.nocookie.net/theamazingworldofgumball/images/1/14/StarBackgroundHQ.png");
  background-size: 700px !important;
  background-blend-mode: lighten !important;
  background-color: #3e3e5d !important;
}
